[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost
	serverId = 1baa3da6-1651-4f80-ac8b-2a617c8b23ce

[index]
	type = LUCENE

[auth]
	type = ldap
	gitBasicAuth = true
	gitBasicAuthPolicy = HTTP

[ldap]
	server = ldap://ldap
	username = cn=admin,dc=example,dc=org
	accountBase = dc=example,dc=org
	accountPattern = (&(objectClass=person)(uid=${username}))
	accountFullName = displayName
	accountEmailAddress = mail
	groupBase = dc=example,dc=org

[sendemail]
	smtpServer = localhost

[sshd]
	listenAddress = *:29418

[httpd]
	listenUrl = http://*:8080/

[cache]
	directory = cache

[container]
	user = root
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.242.b08-0.el7_7.x86_64/jre
	javaOptions = -Djava.security.egd=file:/dev/./urandom

[receive]
	enableSignedPush = false
	maxBatchCommits = 1000000
	timeout = 120min
